# Mac stuff
**/.DS_Store
.DS_Store

# Build files and objects
*.o
*.mod
build/
bin/

# vscode settings
.vscode/

# ccls cache
.ccls-cache/

# clangd cache
.cache/

# vscode line counter
.VSCodeCounter/

# tests / manual run output files
nf_output_*
tests/*/nf_input.dat

# Python cache files
__pycache__/

# Python build metadata
*.egg-info/

# Python dist build
dist/

# Logfiles
*.log

# Perfprof dotfiles
*.dot

# Ignore autoconf/automake stuff
autom4te.cache/
configure.ac
Makefile.am
aclocal.m4

# Apparently autoconf generates a back configure (???)
configure~

# FBuild config file
.fbuild.lua
