name: Python Build Wheels

on:
  push:
    branches: ["dev"]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4

      - name: Install build tools (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran g++ cmake make

      - name: Install build tools (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install mingw -y
          echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin" >> $env:GITHUB_PATH

      - name: Install build tools (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install gcc
          echo "$(brew --prefix)/bin" >> $GITHUB_PATH

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.0.1
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
