name: Python Build Wheels

on:
  push:
    branches: ["dev"]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [ubuntu-latest, macos-13, macos-14]
        #os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install build tools (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y gfortran g++ cmake make

      # - name: Install build tools (Windows)
      #   if: runner.os == 'Windows'
      #   run: |
      #     choco install mingw -y
      #     echo "C:\ProgramData\chocolatey\lib\mingw\tools\install\mingw64\bin" >> $env:GITHUB_PATH

      - name: Install build tools (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install cmake
          echo "$(brew --prefix)/bin" >> $GITHUB_PATH

      - name: Install conda (macOS)
        if: runner.os == 'macOS'
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: buildenv
          auto-activate-base: false

      - name: Install gfortran (macOS)
        if: runner.os == 'macOS'
        run: |
          conda install -n buildenv -c conda-forge gfortran=11 libgfortran=5
          echo "MACOSX_DEPLOYMENT_TARGET=10.15" >> $GITHUB_ENV

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.0.1
        env:
          MACOSX_DEPLOYMENT_TARGET: "10.15"
        with:
          package-dir: .
          output-dir: wheelhouse
          config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  make_sdist:
    name: Make Python sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  upload_to_test_index:
    name: Upload to test PyPI index
    needs: [build_wheels, make_sdist]
    environment: pypi

    permissions:
      id-token: write
      attestations: write
      contents: read

    runs-on: ubuntu-latest
    # if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Generate attestations
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: "dist/*"

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          # password: ${{ secrets.pypi_password }}
          repository-url: "https://test.pypi.org/legacy"
          verbose: true
          skip-existing: true
          attestations: false

